/**************************************************************************/
/* Base Styles */
/**************************************************************************/
* {
  -webkit-font-smoothing: antialiased;
}
body {
  color: #333333;
  font-size: 14px;
  font-family: "Raleway", Helvetica, Sans-serif;
  background-color: rgba(180, 228, 134, 0.3);
  background-image: url('../img/bg.png');
}
a {
  text-decoration: none;
  color: #5DB6CF;
}
a:hover {
  color: #141414;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img.left {
	float:left;
	margin-right: 7px;
}
img.right {
	float:right;
	margin-left: 7px;
}
/*	max-width:100%;
	height:auto;
}
*/
p.intro {
	font-weight: lighter;
	font-size: 2em;
	line-height: 1.75;
}

/*add for Ch 14 material*/

.announce {
  text-transform: uppercase;
  font-size: 2.5em;
  color: rgb(50, 175, 50);
  border-top: 1px solid;
  border-left: 3px solid;
  border-radius: 10px;
  float:right;
  margin: 10px;

}


/**
	horizontal menu style
**/

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

header li {
    float: left;
}

header li a {
    display: block;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover:not(.active) {
    background-color: rgba(180,228,134, .9);
    color: #000000;
}

header .active {
	background-color: rgba(149, 197, 104, 0.3);
}

/***
	Tables
***/
.spacer {
	 border-bottom: 1px dotted black;
	 width:275px;
}
caption {
	font-style: italic;
	padding: 10px;
}
table {
	width: 430px;
	border-collapse: collapse;
	empty-cells: hide;
}
th {
	text-transform: lowercase;
	border-bottom: #333333 solid 2px;

}
td {
	padding: 2px;

}
td.cost {
	font-weight: 600;
}
tr:hover {
	background-color: rgba(245, 245, 245, 0.83)
	}
/**************************************************************************
 Structure Styles
**************************************************************************/

section {
  margin: 2em 5em;
  overflow: hidden;
}
header {
  background-color: rgba(180,228,134, .7);
  padding: 1.5em 4em;

}
header h1 {
  color: white;
  font-weight: normal;
  font-size: xx-large;
}
header h3 {
  color: rgb(40,50,90);
  font-weight: 300;
}
footer {
  border-top: 1px solid #eaeaea;
  padding: 1em 5em;
  text-transform: uppercase;
  color: #777777;
}
.demo-nav {
  background-color: #FAFAFA;
  border-bottom: 1px solid #f2f2f3;
  overflow: hidden;
  padding: 1em 5em;
}
.demo-nav-next {
  float: right;
}

.demo-errors {
  color: red;
  font-size: 80%;
  display: block;
  font: sans-serif;
}



/************************************************************************** 	Form elements styling
**************************************************************************/





/***** Form Extras ******/
form ul li {
  list-style-type: none;
}
form {
  width: 40em;
  border: 1px solid #777;
  border-radius: 10px;
  box-shadow: .2em .2em .5em #999;
  background-color:rgba(245, 245, 245, 0.83);
  padding: 1em;
  margin: 1em;
}
label {
  display: block;
  float: left;
  width:10em;
  margin-right: .5em;
  color: #333;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  display: block;
  width:10em;
  float: left;
  margin-right: .5em;
  text-align: right;
  color: #04699d;
}
#meals label, #dietary label{
  color: #000;
  display: inline;
  float: none;
  text-align: inherit;
  width: auto;
  font-weight: normal;
  background-color: inherit;
}
#meals ul li {
  display: inline;
  margin-bottom: 0;

}
#dietary ul {
  margin-left: 11em;
}
#dietary ul li {
  margin-bottom: 0;
  clear:none;
}
/**************************************************************************
 	Helper Styles
**************************************************************************/


/***************************************************************************
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
***************************************************************************/

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
